# ===== ENV / SECRET =====
.env
config.py
client_id.txt
zlapi_session.json
setting.json

# ===== OS FILE =====
.DS_Store
Thumbs.db

# ===== PYTHON =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak

# ===== TEMP / CACHE =====
TEMP/
cache/
.cache/
sticker/
sticker/*
/sticker/*
/TEMP/

# ===== IDE =====
.vscode/

# ===== LOG =====
*.log
